<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:icon="@drawable/mghangyi_icon"
android:roundIcon="@drawable/mghangyi_icon"
        android:theme="@style/Theme.MGHANGYI"
        android:label="DRHANGYI ZONE"
        android:usesCleartextTraffic="false"
        android:hardwareAccelerated="true"
        android:configChanges="orientation|screenSize|keyboardHidden">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
